<template>
  <Layout>
    <div class="blog-post">
      <h1 >{{$page.post.blogTitle}}</h1>
      <div v-html="richtextToHTML($page.post.blogPost)" />
    </div>
  </Layout>
</template>

<page-query>
query ContentfulBlogPost($path: String!) {
  post: contentfulBlogPost(path: $path) {
    blogTitle
    blogPost
  }
}
</page-query>

<script>
import { BLOCKS } from '@contentful/rich-text-types'
import { documentToHtmlString } from '@contentful/rich-text-html-renderer'
export default {
  methods: {
    richtextToHTML (content) {
      return documentToHtmlString(content, {
        renderNode: {
          [BLOCKS.EMBEDDED_ASSET]: (node) => {
            return `<img lazy src="${node.data.target.fields.file.url}" alt="${node.data.target.fields.title}" />`
          }
        }
      })
    }
  },
}
</script>

<style>

</style>