<template>
  <Layout>
    <article class="recipe-post">

      <header class="recipe-post__header">
        <h1 class="recipe-post__page-title">{{$page.post.recipeTitle}}</h1>
        <div class="recipe-post__stats">
          <span class="recipe-post__prep-time">Prep: {{$page.post.recipePrepTime}}min. &nbsp;</span> 
          <span class="recipe-post__cook-time">Cook: {{$page.post.recipeCookTime}}min.</span>
          <!-- <span class="recipe-post__difficulty">Difficulty: {{$page.post.recipeDifficulty}}/5</span> -->
        </div>
      </header>

      <section class="recipe-post__intro">
        <figure class="recipe-post__intro-img-wrap" v-if="$page.post.recipeImage">
          <img class="recipe-post__intro-img" :src="$page.post.recipeImage.file.url+'?w=800'" alt="$page.post.recipeTitle" />
        </figure>
        <div class="recipe-post__intro-text" v-html="richtextToHTML($page.post.recipeIntro)" />

      </section>

      <main class="recipe-post__main">

        <section class="recipe-post__ingredients-wrap">
          <h2 class="recipe-post__section-title">Ingredients</h2>
          <div class="recipe-post__ingredients" v-html="richtextToHTML($page.post.recipeIngredients)" />
        </section>
        
        <section class="recipe-post__steps-wrap">
          <h2 class="recipe-post__section-title">Steps</h2>
          <div class="recipe-post__steps" v-html="richtextToHTML($page.post.recipeSteps)" />
        </section>

        
        
      </main>
      
      <footer class="recipe-post__footer">
        <div class="recipe-post__closing" v-html="richtextToHTML($page.post.recipeClosing)" />
      </footer>
      
    </article>
  </Layout>
</template>

<page-query>
query ContentfulRecipes($path: String!) {
  post: contentfulRecipes(path: $path) {
    recipeTitle
    recipeIntro
    recipePrepTime
    recipeCookTime
    recipeDifficulty
    recipeIngredients
    recipeSteps
    recipeClosing
    recipeImage {
      file {
        url
      }
      title
    }
  }
}
</page-query>

<script>
import { BLOCKS } from '@contentful/rich-text-types'
import { documentToHtmlString } from '@contentful/rich-text-html-renderer'
export default {
  metaInfo() {
    return {
      title: this.$page.post.recipeTitle
    }
    
  },
  methods: {
    richtextToHTML (content) {
      return documentToHtmlString(content, {
        renderNode: {
          [BLOCKS.EMBEDDED_ASSET]: (node) => {
            return `<img lazy src="${node.data.target.fields.file.url}" alt="${node.data.target.fields.title}" />`
          }
        }
      })
    },

  },
  computed: {
    // async pageTitle() {
    //   return  await this.$page.post.recipeTitle;
    // }
  }
}
</script>

<style scoped>
.recipe-post__header {
  text-align: center;
  padding: 1rem;
  margin: 0 -1rem 0rem;
}
.recipe-post__intro {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
.recipe-post__intro-img-wrap {
  position: relative;
  overflow: hidden;
  margin: 0 -1rem 1rem;
  background: var(--lightGray3);
}
.recipe-post__intro-img-wrap::before {
  display: block;
  content: "";
  padding-top: calc((3 / 4) * 100%);
  
}
.recipe-post__intro-img {
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
  width: 100%;
  height: 100%;

  
}
.recipe-post__stats {
  text-align: center;
  font-size: .75rem;
}
.recipe-post__ingredients-wrap,
.recipe-post__steps-wrap {
  background: var(--white);
  padding: 1rem;
  margin: 0 0 2rem;
  background: var(--lightGray1);
  border-radius: 5px;
}
.recipe-post__page-title {
  margin: 0;
}
.recipe-post__intro-img {
  
}

</style>