html {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
}
body {
  color: var(--white);
}
.layout {
  margin: 0 auto;
}
.content {
  padding: 0 1em;
}
img {
  max-width: 100%;
}
ul,
ol {
  padding-left: 1em;
  margin-bottom: 1em;
}
a {
  text-decoration: none;
  color: var(--alt2);
}
a:hover {
  text-decoration: underline;
}

.hl {
  background: var(--alt1);
  color: var(--white);
  text-transform: unset;
}
h1 {
  font-weight: 300;
}
h2,
h3,
h4,
h5 {
  font-weight: 400;
}
.fade-enter-active {
  transition: all 0.5s;
  transform: translateX(0);
}

.fade-enter {
  opacity: 0;
  transform: translateX(-1rem);
}
.fade2-enter-active {
  transition: all 0.5s;
  transform: translateY(0);
}

.fade2-enter {
  opacity: 0;
  transform: translateY(1rem);
}
.overlay {
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  transition: 0.3s ease;
  z-index: 8;
  width: 100%;
}
.overlay--enabled {
  opacity: 1;
  pointer-events: all;
}

@media screen and (min-width: 768px) {
}

body {
  background: linear-gradient(to bottom right, var(--primary), var(--primary2));
  min-height: 100vh;
}
