<template>
  <Layout>
    <main class="blog">
      <h1>All Blog Posts</h1>
      <section class="blog__posts">
        <article class="blog__post" v-for="edge in $page.posts.edges" :key="edge.node.id">
          
          <header class="blog__post-title"><h2><g-link class="blog__post-title-btn" :to="'/blog/'+edge.node.blogSlug">{{ edge.node.blogTitle }}</g-link></h2></header>
          <g-link class="blog__post-link" :to="'/blog/'+edge.node.blogSlug"><img :src="edge.node.blogImagePreview.file.url+'?w=' + thumbSize" alt="edge.node.blogImagePreview.title"></g-link>
          <main class="blog__post-summary">{{ edge.node.blogSummary }}</main>
        </article>
      </section>
    </main>
  </Layout>
  
</template>

<page-query>
query {
  posts: allContentfulBlogPost {
    edges {
      node {
        blogTitle
        id
        blogSlug
        blogSummary
        blogImagePreview {
          file {
            url
          }
          title
        }
        blogDate
      }
    }
  }
}
</page-query>

<script>
export default {
  metaInfo: {
    title: 'All Blog Posts'
  },
  data() {
    return {
      thumbSize: '200',
    }
  },

}
</script>

<style scoped>


  .blog__post {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 0 1rem;
    margin-bottom: 1rem;
  }
  .blog__post-link {
    grid-row: 1/ span 2;
  }

</style>