<template>
  <Layout>
    <!-- <g-image alt="Example image" src="~/favicon.png" width="135" /> -->

    <main
      class="home"
      v-for="homeItem in $page.homeContent.edges"
      :key="homeItem.node.id"
    >
      <!-- <img class="home-hero" :src="homeItem.node.hero.file.url" :alt="homeItem.node.hero.title"> -->

      <!-- <section class="home-welcome" >
        <h1 >{{ homeItem.node.welcomeTitle }}</h1>
        <div class="welcome__msg" v-html="richtextToHTML(homeItem.node.welcomeText)"></div>
      </section> -->

      <!-- <section class="home-posts">
        <h2>Latest Posts</h2>
        <latest-posts />
      </section> -->

      <section class="home-recipes">
        <h1>Latest Recipes</h1>
        <latest-recipes
          :recipeInfo="$page.allContentfulRecipes.edges"
          :pagerInfo="$page.allContentfulRecipes.pageInfo"
        />
      </section>

      <!-- <article class="home-about">
        <h2>{{ homeItem.node.aboutTitle }}</h2>
        <img class="about__me" :src="homeItem.node.aboutImage.file.url" :alt="homeItem.node.aboutImage.title">
        <div class="about__msg" v-html="richtextToHTML(homeItem.node.aboutText)"></div>
      </article> -->
    </main>
  </Layout>
</template>

<page-query>
  query ($page: Int) {
    homeContent: allContentfulHome {
      edges {
        node {
          hero {
            title
            file {
              url
            }
          }
          welcomeText
          welcomeTitle
          aboutText
          aboutTitle
          aboutImage {
            title
            file {
              url
            }
          }
        }
      }
    }
    allContentfulRecipes(perPage: 10, page: $page) @paginate {
      pageInfo {
        totalPages
        currentPage
      }
      edges {
      node {
        id
        recipeTitle
        recipeSlug
        recipeSummary
        recipeDifficulty
        recipePrepTime
        recipeCookTime
        tags
        recipeImage {
          file {
            url
          }
          title
        }
      }
    }
    }
  }
</page-query>

<script>
import { BLOCKS } from "@contentful/rich-text-types";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import LatestPosts from "~/components/LatestPosts.vue";
import LatestRecipes from "~/components/LatestRecipes.vue";
export default {
  metaInfo: {
    title: "Ernestine's recipes",
  },
  components: {
    LatestPosts,
    LatestRecipes,
  },
  methods: {
    richtextToHTML(content) {
      return documentToHtmlString(content, {
        renderNode: {
          [BLOCKS.EMBEDDED_ASSET]: (node) => {
            return `<img lazy src="${node.data.target.fields.file.url}" alt="${
              node.data.target.fields.title
            }" />`;
          },
        },
      });
    },
  },
};
</script>

<style scoped></style>
