<template>
  <footer class="recipe-ftr">
    <nav class="recipe-ftr__nav">
      <g-link class="recipe-ftr__link" to="/">Home</g-link>
      <g-link class="recipe-ftr__link" to="/about">About</g-link>
    </nav>
  </footer>
</template>

<style scoped>
.recipe-ftr {
  padding: 2rem 0;
  margin-top: 2rem;
  border-top: 1px solid var(--lightGray2);
  text-align: center;
}
.recipe-ftr__nav {
  display: flex;
  justify-content: center;
}
.recipe-ftr__link {
  margin-right: 0.5em;
}
</style>
