<template>
  <header class="recipe-header">
    <figure class="recipe-logo">
      <g-link to="/">Ernestine's Recipes</g-link>
    </figure>
    <recipe-search
      @enableOverlay="$emit('enableOverlay2')"
      @disableOverlay="$emit('disableOverlay2')"
      :isOverlayClicked="isOverlayClicked"
      ref="searchBar"
    />
  </header>
</template>

<script>
import Search from "~/components/Search";
export default {
  components: {
    recipeSearch: Search,
  },
  props: {
    isOverlayClicked: Boolean,
  },
  methods: {
    click() {
      this.$refs.searchBar.clearSearch();
    },
  },
};
</script>

<style scoped>
.recipe-header {
  position: relative;
  z-index: 9;
  color: var(--white);
}
.recipe-logo {
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .recipe-header {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    position: sticky;
    top: 0;
  }
}
</style>
