<template>
  <div class="recipes">
    <article class="recipe" v-for="edge in recipeInfo" :key="edge.node.id">
      <header class="recipe__header">
        <h2 class="recipe__title">
          <g-link
            class="recipe__title-link"
            :to="'/recipes/' + edge.node.recipeSlug"
            >{{ edge.node.recipeTitle }}</g-link
          >
        </h2>
      </header>
      <g-link
        class="recipe__image-link"
        :to="'/recipes/' + edge.node.recipeSlug"
      >
        <img
          v-if="edge.node.recipeImage"
          class="recipe__image"
          :src="edge.node.recipeImage.file.url + '?w=' + thumbSize"
          :alt="edge.node.recipeImage.title"
        />
        <img
          v-else
          class="recipe__image"
          src="https://res.cloudinary.com/chrisace/image/upload/c_thumb,f_auto,g_face,w_200/v1574466611/20190504_171446_au8t0u.jpg"
          alt="hi elyse"
        />
      </g-link>

      <main class="recipe__info">
        <div class="recipe__meta">
          <span class="recipe__prep-time"
            >Prep: {{ edge.node.recipePrepTime }}mins</span
          >
          &nbsp;
          <span class="recipe__cook-time"
            >Cook: {{ edge.node.recipeCookTime }}mins</span
          >
        </div>
        <p class="recipe__summary">{{ edge.node.recipeSummary }}</p>
      </main>
    </article>
    <!-- <div class="recipe-post__pager" v-if=" pagerInfo.totalPages > 1"> -->
    <aside class="recipe-pager-wrap">
      <recipe-pager
        :info="pagerInfo"
        class="recipe-pager"
        nextLabel="Next"
        prevLabel="Prev"
      />
    </aside>
  </div>
</template>

<script>
import { Pager } from "gridsome";

export default {
  components: {
    recipePager: Pager,
  },
  props: {
    pagerInfo: Object,
    recipeInfo: Array,
  },
  name: "LatestRecipes",
  data() {
    return {
      thumbSize: "200",
      star:
        '<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 0L12.2451 6.90983H19.5106L13.6327 11.1803L15.8779 18.0902L10 13.8197L4.12215 18.0902L6.36729 11.1803L0.489435 6.90983H7.75486L10 0Z" fill="#C4C4C4"/></svg>',
    };
  },
  methods: {
    rating(val) {
      let stars = "";
      for (let i = 1; i <= val; i++) {
        stars = stars += this.star;
      }
      return stars;
    },
  },
  filters: {
    capitalize: function(value) {
      if (!value) return "";
      value = value.toString();
      return value.charAt(0).toUpperCase() + value.slice(1);
    },
  },
};
</script>

<style scoped>
.recipe {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 0 1em;
  margin-bottom: 1em;
}
.recipe__image-link {
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background: var(--lightGray3);
  align-self: start;
}
.recipe__image-link::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: calc((3 / 4) * 100%);
}
.recipe__image {
  line-height: 0;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.recipe__header,
.recipe__footer,
.recipe__info {
  grid-column: 2 / span 1;
}
.recipe__title {
  text-transform: capitalize;
}
.recipe__difficulty {
  display: flex;
  align-items: center;
}
.recipe__meta {
  font-size: 0.75rem;
}
.recipe__summary {
  font-size: 0.85rem;
  line-height: 1.2;
}
.recipe-pager {
  text-align: center;
  line-height: 1;
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
}
.recipe-pager > a {
  padding: 0.5rem 1rem;
  border: 1px solid var(--primary);
  border-radius: 5px;
  margin: 0 0.5rem 0.5rem 0rem;
  line-height: 1;
  transition: 0.2s ease;
}
.recipe-pager > a:hover {
  background: var(--primary);
  color: var(--white);
}

@media screen and (min-width: 992px) {
  .recipes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2em;
    padding: 2em;
  }
  .recipe {
    display: block;
  }
  .recipe__image {
    width: 100%;
  }
}
</style>
