<template>
  <div class="blog__posts">
    <article class="blog__post" v-for="edge in $static.posts.edges" :key="edge.node.id">
      <header class="blog__post-title"><h2>{{ edge.node.blogTitle }}</h2></header>
      <!-- <img :src="edge.node.blogImagePreview.file.url" alt="edge.node.blogImagePreview.title"> -->
      <main class="blog__post-summary">{{ edge.node.blogSummary }}</main>
      <g-link class="blog__post-btn" :to="'/blog/'+edge.node.blogSlug">View Post</g-link>
    </article>
  </div>
  
</template>

<static-query>
query {
  posts: allContentfulBlogPost {
    edges {
      node {
        blogTitle
        id
        blogSlug
        blogSummary
        blogImagePreview {
          file {
            url
          }
          title
        }
        blogDate
      }
    }
  }
}
</static-query>

<script>
export default {
  name: 'LatestPosts'
}
</script>

<style scoped>
  .blog__post {
    padding: 1em;
    background:#FFF;
    margin-bottom: 1em;
  }
  .blog__post-btn {
    background: slateblue;
    padding: .5em;
    color: #FFF;
    text-decoration: none;
    display: inline-block;
  }
</style>