<template>
  <div class="recipe-search" :class="isOverlayClicked ? 'clicked' : ''">
    <form class="recipe-searchbar" @submit.prevent >
      <input type="text" 
        class="recipe-searchbar__input" 
        placeholder="Search for recipe" 
        v-model="searchInput" 
        @focus.once="generateResults()"
        @focus="$emit('enableOverlay')" 
        @keyup="findRecipes()" 
        @keyup.esc="clearSearch()"
        
      >
    </form>
    <div 
      class="recipe-search-results" 
      v-show="filteredSearchResults.length > 0" 
      :class="filteredSearchResults.length > 0 ? 'recipe-search-results--open' : 'recipe-search-results--closed'"
    >
      <ul 
        class="recipe-search-results__list" 
        v-show="(searchInput.length > 0)"
      >
        <li 
          class="recipe-search-results__list-item"
          v-for="recipe in filteredSearchResults"
          :key="recipe.node.id"
          :data-search-name="recipe.node.recipeTitle.toLowerCase()"
        >
          <g-link @click.native="clearSearchAndOverlay()" :to="recipe.node.path" :title="`View ${recipe.node.recipeTitle} Recipe`" class="recipe-search-results__link" >
            <figure class="recipe-search-results__item" >
              <img v-if="recipe.node.recipeImage" lazy :src="recipe.node.recipeImage.file.url+'?w=' + thumbSize" :alt="recipe.node.recipeTitle" class="recipe-search-results__img" />
              <img v-else class="recipe-search-results__img" src="https://res.cloudinary.com/chrisace/image/upload/c_thumb,f_auto,g_face,w_200/v1574466611/20190504_171446_au8t0u.jpg" alt="hi elyse">
              <figcaption class="recipe-search-results__info">
                <!-- <div class="recipe-search-results__title">{{ recipe.node.recipeTitle | highlight(searchInput) }}</div> -->
                <!-- <div class="recipe-search-results__title">{{ recipe.node.recipeTitle  }}</div> -->
                <div class="recipe-search-results__title" v-html="hl(recipe.node.recipeTitle)"></div>
                <div class="recipe-search-results__time">
                  <span class="recipe-search-results__time-prep">Prep: {{ recipe.node.recipePrepTime }} mins</span>
                  <span class="recipe-search-results__time-cook">Cook: {{ recipe.node.recipeCookTime }} mins</span>
                </div>
              </figcaption>
            </figure>
          </g-link>
        </li>
      </ul>
    </div>

    
  </div>
  
</template>

<static-query>
query {
  recipes: allContentfulRecipes {
    edges {
      node {
        id
        recipeTitle
        recipeSlug
        path
        recipePrepTime
        recipeCookTime
        recipeImage {
          file {
            url
          }
          title
        }
      }
    }
  }
}
</static-query>


<script>
export default {

  data(){
    return {
      showResults: false,
      searchInput:'',
      filteredSearchResults:[],
      allSearchResults:[],
      thumbSize: '200',
    }
  },
  props: {
    isOverlayClicked: Boolean
  },
  methods: {
    neg() {
      if (this.isOverlayClicked) {
        this.clearSearch()
        console.log('save me')
        return true
      } else {
        console.log('false')
        return false
      }
    },
    clearSearch() {
      // this.$emit('disableOverlay')
      this.searchInput=''
      this.unBlur()
      console.log('cleared');
    },
    clearSearchAndOverlay() {
      this.$emit('disableOverlay')
      this.clearSearch()
    },
    unBlur() {
      document.querySelector('.recipe-searchbar__input').blur();
    },
    findRecipes() {
      // if(this.searchInput.length >= 1 ) {
        let regex = new RegExp(this.searchInput, 'gi');
        const result = this.allSearchResults.filter(recipe => {
          return recipe.node.recipeTitle.match(regex)
        });
        // console.log('the array result is')
        // console.log(result)
        this.filteredSearchResults = result
        this.searchInput.length > 0 ? this.filteredSearchResults = result : ''
        // document.querySelector('.submit').click();
      // }
      
    },
    // async generateResults() {
    //   console.log('results generated')
    //   let results = await this.$static.recipes
    //   results = JSON.parse(JSON.stringify(results));
    //   return this.allSearchResults = results.edges
    // },
    generateResults() {
      console.log('results generated')
      let results = this.$static.recipes
      results = JSON.parse(JSON.stringify(results));
      return this.allSearchResults = results.edges
    },
    hl(value) {
      // console.log('value is ')
      // console.log(value)
      const regex = new RegExp(this.searchInput, 'gi');
      const hl = value.replace(regex, `<span class="hl">${this.searchInput}</span>`);
      return hl
    },
    gg() {
      // this doesn't work cuase it only detects the viewport of the header, not the entire screen
      const header = document.querySelector('.recipe-header')
      header.addEventListener('click', function(e) {
        // console.log(e.target)
        // console.log(e.currentTarget)
        if (e.target !== e.currentTarget) {
          // console.log('jsdaikfjasdofj')
          // this.clearSearch()
        }
      })
    },
  },
  // mounted: function () {
  //   this.$nextTick(function () {
  //     this.gg();
  //   })
  // },
  mounted() {
    // this.gg();
  },

  filters: {
    highlight: function (value, searchInput) {
      // if (!value) return ''
      // value = value.toString()
      // return value.charAt(0).toUpperCase() + value.slice(1)
      console.log('wow')
      console.log(value)
      console.log(searchInput)
      const regex = new RegExp(searchInput, 'gi');
      const hl = value.replace(regex, `<span class="hl">${searchInput}</span>`);
      return hl
    }
  },



}
</script>

<style scoped>
.recipe-search {
  flex: 1;
  position: relative;
  background: var(--lightGray1);
  padding: 1rem;
  margin: 0 ;
  z-index: 9;
}

.recipe-searchbar {
  display: grid;
  grid-template-columns: 1fr auto;
}
.recipe-searchbar__input {
  padding: .5rem;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid var(--lightGray3);
}
.recipe-searchbar__btn {
  padding: .5rem;
  
}

.recipe-search-results {
  position: absolute;
  left: 0;
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  transform: translateY(0);
  transition: 3s ease;
  transform-origin:top;

}
.recipe-search-results--open {
  transform: scaleY(1);
}
.recipe-search-results--closed {
  transform: scaleY(0);
}
.recipe-search-results__list {
  padding: 0;
  background: var(--lightGray1);
  width: 100%;
  padding: 1rem;
  margin-bottom: 0;
  
}
.recipe-search-results__link {
  display: block;
  transition: 0.2s ease;
}
.recipe-search-results__link:hover {
  background: rgba(0,0,0,0.1);
}
.recipe-search-results__item {
  list-style: none;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  grid-gap: 1rem;
  margin-bottom: 1rem;
}
.recipe-search-results__time {
  font-size: 0.8rem;
}
.recipe-search-results__time-cook {
  margin-left: 10px;
}
.recipe-search-results__img {
  border-radius: 5px;
}
.recipe-search-results__list-item {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .recipe-search {
    background: none;
  }

}

</style>