<template>
  <div class="layout">
    <recipe-hdr
      @enableOverlay2="enableOverlay"
      @disableOverlay2="disableOverlay"
      :isOverlayClicked="isOverlayClicked"
      ref="childComponent"
    />
    <transition name="fade" appear>
      <div class="content">
        <slot />
        <div
          class="overlay"
          @click="disableOverlay"
          :overlayClicked="isOverlayClicked"
        ></div>
      </div>
    </transition>
    <!-- <recipe-ftr /> -->
  </div>
</template>

<script>
import Hdr from "~/components/Hdr";
import Ftr from "~/components/Ftr";
export default {
  components: {
    recipeHdr: Hdr,
    recipeFtr: Ftr,
  },
  data() {
    return {
      isOverlayClicked: false,
    };
  },
  methods: {
    enableOverlay() {
      const overlay = document.querySelector(".overlay");
      overlay.classList.add("overlay--enabled");
      this.isOverlayClicked = false;
    },
    disableOverlay() {
      const overlay = document.querySelector(".overlay");
      overlay.classList.remove("overlay--enabled");
      this.isOverlayClicked = true;
      this.$refs.childComponent.click();
    },
  },
  mounted() {
    // const overlay = document.querySelector('.overlay');
  },
};
</script>

<style>
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --alt1: #329b88;
  --primary: #6173d1;
  --primary2: #8592d1;
  --primary3: #34407c;
  --primary4: #8b94c0;
  --alt2: #d2c555;
  --lightGray1: #f4f4f4;
  --lightGray2: #eee;
  --lightGray3: #ccc;
  --darkGray1: #333;
  --darkGray2: #222;
  --darkGray3: #111;
  --midGray1: #666;
  --midGray2: #aaa;
  --midGray3: #999;
  --white: #fff;
  --black: #000;
}
</style>
